{% extends 'base.html.twig' %}

{% block body %}
	<article class="article-blog">
		<p class="news-date"><i class="fa fa-calendar-o"></i>{% block date %}{{oPost.dateAdd|date('Y-m-d')}}{% endblock %}</p>
		<h3>{{oPost.title}}</h3>
		<p>{% autoescape false %}{{oPost.text}}{% endautoescape %}</p>
		<p class="author">{% block author %}TODO{% endblock %}</p>
	</article>
{% endblock %}
